# For production make sure to uncomment .env
#Supper secret env file...
#backend/.env

content_service/node_modules
frontend/node_modules
messaging_service/node_modules
profile_service/node_modules
