.content-container {
    margin: 1%;
    width: 65rem;
    height: 45rem;
    display: inline-block;
    position: relative;

    border-radius: 15px;
    padding: 1%;

    text-align: center;
    overflow: hidden;
    margin: 0;


}

.container-border{
    margin-bottom: 25px;
    width: 65.3rem;
    height: 45.3rem;
    border-radius: 15px;
    background-color: #d1d8ec;

    /* background: linear-gradient(-90deg, #f35a5a, #2153f5, #f35a5a);
	background-size: 400% 400%;
	animation: gradient 13s ease infinite; */

    box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ffa1;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    align-self: center;
}

.like-btn{
    cursor: pointer;
}

.date-span{
    position: absolute;
    right: 2%;
    bottom: 2%;
}

.content-img{
    margin-bottom: 20px;
    width: 500px;
    object-fit: contain;
    border-radius: 3px;
}

.new-post-btn{
    color: white;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    padding: 20px 25px;
    margin: 15px;
    background-color: rgb(26, 148, 87);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-radius: 45px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 0px rgba(35, 35, 43, 0.8);

}

.post-input-field{
    margin: 20px;
    width: 80%;
    font-size: large;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #999999;

}

.post-text-area{
    width: 80%;
    padding: 10px;
    font-size: medium;
    border-radius: 15px;
    border: 1px solid #999999;



}

.post-submit{
    font-weight: bold;
    color: white;
    border: none;
    background-color: rgb(26, 148, 87);
    box-shadow: 2px 2px 2px 0px rgba(35, 35, 43, 0.8);
    width: 50%;
    padding: 20px 5px;
    border-radius: 45px;
    text-decoration: none;
    cursor: pointer;

}


.content-main{
    display: inline-block;
    max-width: 60%;
    text-align: left;
    padding: 30px;
    margin: 15px;
    vertical-align: top;
}

.content-chat{
    display: inline-block;
    max-width: 50%;
    text-align: left;
    padding: 30px;
    margin: 15px;
    position: fixed ;
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}